@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400;600;900&display=swap');

*{
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  cursor: url('./assets/pikachu_cursor.gif'), auto;
}

:root {
  

  --font-base: 'Orbitron', sans-serif;

  --primary-red-color: #FF0000;
  --secondary-red-color: #CC0000;
  --primary-yellow-color: #FFDE00;
  --secondary-yellow-color: #B3A125;
  --blue-color: #3B4CCA;
  
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
